*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.profile{
width:180px;
height:180px;
border-radius:50%;
border:5px solid #38bdf8;
margin-bottom:20px;
}

.hero span{
color:#38bdf8;
}

.hero p{
max-width:650px;
margin:20px;
}

.btn,.btn2{
display:inline-block;
padding:12px 25px;
margin:10px;
border-radius:30px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.btn{
background:#38bdf8;
color:white;
}

.btn2{
border:2px solid #38bdf8;
color:white;
}

.btn:hover{
transform:scale(1.1);
}

.btn2:hover{
background:#38bdf8;
}

section{
padding:80px 10%;
}

h2{
text-align:center;
margin-bottom:40px;
}

.skill-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
text-align:center;
border-radius:10px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
background:#38bdf8;
}

.project-box{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;
}

.project{
background:#1e293b;
padding:25px;
border-radius:15px;
transition:.3s;
}

.project:hover{
transform:scale(1.05);
}

#contact{
text-align:center;
}

#contact p{
margin:15px;
}

footer{
background:#111827;
padding:20px;
text-align:center;
margin-top:40px;
}